<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afrikawood.banguiwood"
    android:versionCode="1"
    android:versionName="1.0">

<!--<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />-->
<!-- YOUTUBE API AND ANDROID LOLIPOP PROBLEM
	https://code.google.com/p/android-developer-preview/issues/detail?id=1247
	https://code.google.com/p/gdata-issues/issues/detail?id=6739
	http://stackoverflow.com/questions/27174515/android-l-youtube-api-illegalargumentexception-service-intent-must-be-explici
	http://blog.android-develop.com/2014/10/android-l-api-21-javalangillegalargumen.html?m=1
-->
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />
    
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below to match your app's package name + ".permission.C2D_MESSAGE". -->
	<permission android:protectionLevel="signature" android:name="com.afrikawood.banguiwood.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.afrikawood.banguiwood.permission.C2D_MESSAGE" />
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
	
	<supports-screens 
        android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="false"
		android:anyDensity="true" />

    <application
        android:name="AfrikawoodApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme">
        
        <meta-data 
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        
        <meta-data 
		    android:value="@string/facebookAppId" 
		    android:name="com.facebook.sdk.ApplicationId" />
        
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/appName"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.afrikawood.banguiwood" android:host="twitterLoginSuccess" />
            </intent-filter>
    		
        </activity>
        
        <activity 
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        
        <activity
            android:name=".InfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/appName"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
